.container {
    background-color: var(--lightGray);
    position: relative;
    display: flex;
    flex-direction: column;
}

.messagesContainer {
    height: min(99%, 32.5em);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
