
.containerFrom, .containerTo{
    width: 100%;
    display: flex;
    padding: 0 0.5em;
    margin: 0.5em 0 0 0;
    align-items: flex-end;
}


.containerFrom{
    flex-direction: row-reverse;
}


.containerTo {
    flex-direction: row;
}

.circle {
    background-color: var(--gray);
    border-radius: 50%;
    overflow: hidden;
    height: 1.4em;
    width: 1.4em;
}

.message {
    padding: 0.3em 1em;
    background-color: var(--mainPurple);
    color: var(--white);
    margin: 0 0.5em 0 0;
    border-radius: 0.3em;
}