/* SERVICES in PROVIDER PAGE */



.serviceContainer {
    border: 0.3px solid var(--gray);
    border-radius: 0.5em;
    position: relative;
    cursor: pointer;
}


.serviceContainer:hover {
    border: 0.3px solid var(--secondaryPurple);
}


.serviceTripleDotContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-radius: 0.5em 0.5em 0 0;
    height: 20%;
    padding: 0 0.5em;
    display: flex;
    justify-content: flex-end;
}


.serviceImageContainer {
    width: 100%;
    background-color: var(--gray);
    border-radius: 0.5em;
    overflow: hidden;
    height: 22vh;
}

.serviceTextContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}


/* SERVICES in PROVIDER PAGE */

