.pricingDetailsContainer {
    width: 100%;
    position: sticky;
    top: 6em;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    border-radius: 0.5em;
    padding: 2em;
    border: 0.3px solid var(--gray);
    background-color: var(--white);
}

@media (max-width: 70em) {
    .pricingDetailsContainer {
        top: 9em;
    }
}

@media (max-width: 40em) {
    .pricingDetailsContainer {
        display: none;
    }
}
