.informationSplitter {
    display: flex;
}

.leftSide {
    flex-basis: 65%;
}

.rightSide {
    flex-basis: 33%;
    margin: 0 0 0 1em;
}

@media (max-width: 70em) {
    .leftSide {
        flex-basis: 60%;
    }

    .rightSide {
        flex-basis: 40%;
    }
}

@media (max-width: 40em) {
    .informationSplitter {
        flex-direction: column;
    }
}
