
.circle {
    height: 2em;
    width: 2em;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.container {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: -2px 15px 21px -15px rgba(64,64,64,0.16);
    -webkit-box-shadow: -2px 15px 21px -15px rgba(64,64,64,0.16);
    -moz-box-shadow: -2px 15px 21px -15px rgba(64,64,64,0.16);
    padding: 1em 2em;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    align-items: center;
}

.infoContainer > * + * {
    margin-left: 1em;
}