
.containerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 20em));
}



.message {
    position: absolute;
    top: 50%;
    left: 50%;
}



@media (max-width: 40em) {
    .containerGrid {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
}