
.containerGrid {
    display: flex;
    flex-direction: column;
    padding: 1em;
}



.message {
    position: absolute;
    top: 50%;
    left: 50%;
}


.tr {
    display: flex;
    align-items: center;
}


.td {
    display: flex;
    justify-content: center;
    border: none;
}



@media (max-width: 40em) {
    .containerGrid {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
}