
.container{
    background-color: var(--white);
    border-radius: 0.3em 0 0 0.3em;
    height: 3.5em;
    width: 100%;
    border-left: 0.2em solid var(--mainPurple);
    border-bottom: 0.3px solid var(--gray);
    border-top: 0.3px solid var(--gray);
    padding: 0.7em;
    margin: 0.2em 0 0 0;
    display: flex;
    align-items: center;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
    cursor: pointer;
}


.container > div {
    display: flex;
    flex-direction: column;
}


.container:hover {
    background-color: var(--lightGray);
}