
/* global variables */

:root {
    --mainPurple: #5244BD;
    --secondaryPurple: #716D8C;
    --mainBlue: #6FA4F0;
    --googleRed: #BD4B44;
    --facebookBlue: #2C71D9;
    --white: #ffffff;
}


/* style resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



/* LOGIN REGISTER */


/* 
login and register page 
main container styling
grid template
*/

.login-register-main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
}


/* left part of the main container grid */
.login-register-left-container {
    background: var(--mainPurple);
    background: linear-gradient(144deg, var(--secondaryPurple) -100%, var(--mainPurple) 50%, var(--mainBlue) 130%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* right part of the main container grid */
.login-register-right-container {
    padding: 2em 4em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.login-register-form {
    width: 100%;
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.social-media-sign-in-sign-up-container {
    padding: 2em 0 0 0;
    border-top: 0.3px solid var(--secondaryPurple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}


.google-facebook-buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* LOGIN REGISTER */



/* Utilities */


.form-control {
    width: 100%;
    padding: 0.6em;
    border: 0.3px solid var(--secondaryPurple);
}


.main-button {
    width: 100%;
    padding: 0.6em;
    background-color: var(--mainPurple);
    border: 0.3px solid var(--mainPurple);
    color: var(--white);
    cursor: pointer;
}


.google-button {
    width: 100%;
    padding: 0.6em;
    background-color: var(--white);
    border: 1px solid var(--googleRed);
    color: var(--googleRed);
    cursor: pointer; 
}


.facebook-button {
    width: 100%;
    padding: 0.6em;
    background-color: var(--white);
    border: 1px solid var(--facebookBlue);
    color: var(--facebookBlue);
    cursor: pointer; 
}


.main-purple-text {
    color: var(--mainPurple);
}


.secondary-purple-text {
    color: var(--secondaryPurple);
}


.main-purple-link {
    color: var(--mainPurple);
    cursor: pointer;
}


.secondary-purple-link {
    color: var(--secondaryPurple);
    cursor: pointer;
}


/* Utilities */