
/* global variables */

:root {
    --mainPurple: #5244BD;
    --secondaryPurple: #716D8C;
    --mainBlue: #6FA4F0;
    --googleRed: #BD4B44;
    --googleBlue: #4285F4;
    --facebookBlue: #4267B2;
    --darkFacebookBlue: #3a5a9b;
    --errorRed: rgb(138, 27, 27);
    --errorRedBg: rgba(189, 16, 16, 0.3);
    --messageGreen: rgb(15, 92, 44);
    --messageGreenBg: rgba(22, 134, 65, 0.3);
    --white: #ffffff;
    --gray: #DBDBE2;
}


/* style resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



/* LOGIN REGISTER */


/* 
login and register page 
main container styling
grid template
*/

.login-register-main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
}


/* left part of the main container grid */
.login-register-left-container {
    background: var(--mainPurple);
    background: linear-gradient(144deg, var(--secondaryPurple) -100%, var(--mainPurple) 50%, var(--mainBlue) 130%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* right part of the main container grid */
.login-register-right-container {
    padding: 1em 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-register-form {
    width: 100%;
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.social-media-sign-in-sign-up-container {
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.google-facebook-buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.error-message {
    width: 100%;
    background-color: var(--errorRedBg);
    padding: 0.7em;
    margin: 1em 0 0 0;
    border: 0.1px solid var(--errorRed);
    border-radius: 0.3em;
    color: var(--errorRed);
}


.success-message {
    width: 100%;
    background-color: var(--messageGreenBg);
    padding: 0.7em;
    margin: 1em 0 0 0;
    border: 0.1px solid var(--messageGreen);
    border-radius: 0.3em;
    color: var(--messageGreen);
}


/* LOGIN REGISTER */



/*  LAYOUT  */


.main-grid {
    display: grid;
    grid-template-columns: 18% 80.9%;
    grid-template-rows: 10% 80%;
    column-gap: 1em;
    height: 100vh;
    width: 100vw;
}


.left-navbar-container{
    grid-row-start: 1;
    grid-row-end: 3;
}



.top-navbar-container{
    grid-column-start: 2;
    border-bottom: 0.3px solid var(--secondaryPurple);
}


.content-section-container{
    grid-row-start: 2;
    grid-column-start: 2;
}


/*  LAYOUT  */




/*  Navigation Bars  */


.left-navbar {
    display: flex;
    flex-direction: column;
}


.left-navbar-li {
    padding: 0.6em 0.6em 0.6em 2em;
    cursor: pointer;
}


.left-navbar-li-active {
    padding: 0.6em 0.6em 0.6em 2em;
    background-color: var(--gray);
    cursor: pointer;
}


.left-navbar-li:hover{
    background-color: var(--gray);
}




.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1em;
}


.top-navbar-search-form-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-navbar-search-form {
    width: 80%;
    display: flex;
}


.top-navbar-ul-container {
    width: 30%;
}


.top-navbar-ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
}


.top-navbar-li {
    padding: 1em;
    cursor: pointer;
}


.top-navbar-popup {
    position: absolute;
    right: 1em;
    background-color: var(--white);
    border: 1px solid var(--gray);
    width: 14vw;
}


.top-navbar-popup-ul {
    list-style: none;
}


.top-navbar-popup-li {
    padding: 0.4em 1em;
}


.top-navbar-popup-li:hover {
    background-color: var(--gray);
}


/*  Navigation Bars  */





/* Utilities */


.form-control {
    width: 100%;
    padding: 0.4em;
    border: 0.3px solid var(--secondaryPurple);
}


.button {
    width: 100%;
    padding: 0.4em;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s; 
}


.main-button {
    background-color: var(--mainPurple);
    border: 0.3px solid var(--mainPurple);
    color: var(--white);
    cursor: pointer;
}


.gray-button {
    background-color: var(--gray);
    border: 0.3px solid var(--secondaryPurple);
    color: var(--secondaryPurple);
    cursor: pointer;
}


.google-button {
    border: none;
    color: var(--secondaryPurple);
    border-radius: 0.3em;
    padding: 0.9em;
    cursor: pointer;
}


.google-button:hover{
    background-color: var(--googleBlue);
    color: var(--white);
}


.facebook-button {
    background-color: var(--facebookBlue);
    border: none;
    color: var(--white);
    border-radius: 0.3em;
    padding: 0.9em;
    cursor: pointer; 
}


.facebook-button:hover {
    background-color: var(--darkFacebookBlue);
}


.main-purple-text {
    color: var(--mainPurple);
}


.secondary-purple-text {
    color: var(--secondaryPurple);
}


.main-purple-link {
    color: var(--mainPurple);
    cursor: pointer;
}


.secondary-purple-link {
    color: var(--secondaryPurple);
    cursor: pointer;
}


/* Utilities */