@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    display: flex;
    align-items: center;
}


.bg {
    position: absolute;
    height: 100vh;
    top: 10;
    width: 100vw;
    background-color: #BD4B44;
    z-index: -100;
}



.text {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.20);
    opacity: 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    margin: 0 0 0 5em;
    max-width: 30vw;
    background-color: white;
}


.container:hover .text {
    opacity: 1;
}


.text2 {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.20);
    opacity: 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    margin: 0 5em 0 0; 
    max-width: 30vw;
    background-color: white;
}


.container:hover .text2 {
    opacity: 1;
}


/* global variables */

:root {
    --mainPurple: #5244BD;
    --secondaryPurple: #716D8C;
    --mainBlue: #6FA4F0;
    --googleRed: #BD4B44;
    --googleBlue: #4285F4;
    --facebookBlue: #4267B2;
    --darkFacebookBlue: #3a5a9b;
    --errorRed: rgb(138, 27, 27);
    --errorRedBg: rgba(189, 16, 16, 0.3);
    --messageGreen: rgb(15, 92, 44);
    --messageGreenBg: rgba(22, 134, 65, 0.3);
    --white: #ffffff;
    --gray: #DBDBE2;


    --h1: 18px;
    --normalFontSize: 14.5px;
}


/* style resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


li {
    font-size: var(--normalFontSize);
}



/* PROVIDER LOGIN PAGE */


.provider-login-main-container {
    width: 40%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  */



/* LOGIN REGISTER */


/* 
login and register page 
main container styling
grid template
*/

.login-register-main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
}


/* left part of the main container grid */
.login-register-left-container {
    background: var(--mainPurple);
    background: linear-gradient(144deg, var(--secondaryPurple) -100%, var(--mainPurple) 50%, var(--mainBlue) 130%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* right part of the main container grid */
.login-register-right-container {
    padding: 1em 4em;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}


.login-register-right-middle-row {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.login-register-right-bottom-row {
    grid-row-start: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}


.login-register-form {
    width: 100%;
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.social-media-sign-in-sign-up-container {
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.google-facebook-buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.error-message {
    width: 100%;
    background-color: var(--errorRedBg);
    padding: 0.7em;
    margin: 1em 0 0 0;
    border: 0.1px solid var(--errorRed);
    border-radius: 0.3em;
    color: var(--errorRed);
}


.success-message {
    width: 100%;
    background-color: var(--messageGreenBg);
    padding: 0.7em;
    margin: 1em 0 0 0;
    border: 0.1px solid var(--messageGreen);
    border-radius: 0.3em;
    color: var(--messageGreen);
}


/* LOGIN REGISTER */




/*  LAYOUT  */


.main-grid {
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 10% 90%;
    height: 100vh;
    width: 100vw;
}


.left-navbar-container{
    grid-row-start: 1;
    grid-row-end: 2;
    position: sticky;
    background-color: var(--white);
    top: 0;
}


.top-navbar-container{
    grid-column-start: 2;
    border-bottom: 0.3px solid var(--secondaryPurple);
    background-color: var(--white);
    position: sticky;
    top: 0;
}


.content-section-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    height: 100%;
}


/*  LAYOUT  */




/*  Navigation Bars  */


.left-navbar {
    display: flex;
    flex-direction: column;
}


.left-navbar-li {
    padding: 0.6em 0.6em 0.6em 2em;
    cursor: pointer;
}


.left-navbar-li-active {
    padding: 0.6em 0.6em 0.6em 2em;
    background-color: var(--gray);
    cursor: pointer;
}


.left-navbar-li:hover{
    background-color: var(--gray);
}




.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1em;
}


.top-navbar-search-form-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-navbar-search-form {
    width: 80%;
    display: flex;
}


.top-navbar-ul-container {
    width: 30%;
}


.top-navbar-ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.top-navbar-li {
    padding: 0 1em;
    cursor: pointer;
}


.account-circle {
    height: 2.3em;
    width: 2.3em;
    background-color: #3a5a9b;
    border-radius: 50%;
    overflow: hidden;
}


.top-navbar-popup {
    position: absolute;
    right: 2em;
    top: 1em;
    background-color: var(--white);
    border: 1px solid var(--gray);
    width: 14vw;
}


.top-navbar-popup-ul {
    list-style: none;
}


.top-navbar-popup-li {
    padding: 0.4em 1em;
}


.top-navbar-popup-li:hover {
    background-color: var(--gray);
}





/*  Navigation Bars  */





/* Utilities */

.card {
    width: 100%;
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.20);
    padding: 2em;
}



.form-control {
    width: 100%;
    padding: 0.4em;
    border: 0.3px solid var(--secondaryPurple);
}






.button {
    width: 100%;
    padding: 0.4em;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s; 
    cursor: pointer;
}


.main-button {
    background-color: var(--mainPurple);
    border: 0.3px solid var(--mainPurple);
    color: var(--white);
}


.gray-button {
    background-color: var(--gray);
    border: 0.3px solid var(--secondaryPurple);
    color: var(--secondaryPurple);
}


.google-button {
    border: none;
    color: var(--secondaryPurple);
    border-radius: 0.3em;
    padding: 0.9em;
}


.google-button:hover{
    background-color: var(--googleBlue);
    color: var(--white);
}


.facebook-button {
    background-color: var(--facebookBlue);
    border: none;
    color: var(--white);
    border-radius: 0.3em;
    padding: 0.9em;
}


.facebook-button:hover {
    background-color: var(--darkFacebookBlue);
}


.guest-button {
    background-color: var(--mainPurple);
    color: var(--white);
    border-radius: 0.3em;
    padding: 0.9em;
    border: none;
}


.guest-button:hover {
    background-color: var(--secondaryPurple);
}






.main-purple-text {
    color: var(--mainPurple);
}


.secondary-purple-text {
    color: var(--secondaryPurple);
}


.main-purple-link {
    color: var(--mainPurple);
    cursor: pointer;
}


.secondary-purple-link {
    color: var(--secondaryPurple);
    cursor: pointer;
}


/* Utilities */